<body tabindex="0" role="listitem">
<div id="content" class="netease_mail_readhtml">
<style type="text/css">.netease_mail_readhtml
			h1,
			h2,
			h3 {
				color: #00785a;
			}.netease_mail_readhtml

			p {
				padding: 0;
				margin: 0;
				color: #333;
				font-size: 16px;
			}.netease_mail_readhtml

			hr {
				background-color: #d9d9d9;
				border: none;
				height: 1px;
			}.netease_mail_readhtml

			.eo-link {
				color: #0576b9;
				text-decoration: none;
				cursor: pointer;
			}.netease_mail_readhtml

			.eo-link:hover {
				color: #3498db;
			}.netease_mail_readhtml

			.eo-link:hover {
				text-decoration: underline;
			}.netease_mail_readhtml

			.eo-p-link {
				display: block;
				margin-top: 20px;
				color: #009cff;
				text-decoration: underline;
			}.netease_mail_readhtml

			.p-intro {
				padding: 30px;
			}.netease_mail_readhtml

			.p-code {
				padding: 0 30px 0 30px;
			}.netease_mail_readhtml

			.p-news {
				padding: 0px 30px 30px 30px;
			}
</style>


<div style="max-width:800px;padding-bottom:10px;margin:20px auto 0 auto;">
			<table cellpadding="0" cellspacing="0" style="background-color: #fff;border-collapse: collapse; border:1px solid #e5e5e5;box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);text-align: left;width: 100%;font-size: 14px;border-spacing: 0;">
				<tbody>
					<tr style="background-color: #f8f8f8;">
						<td>
							<img style="padding: 15px 0 15px 30px;" alt="APITEST" src="../static/picture/奥迪双钻.jpg">
						</td>
					</tr>
					<tr>
						<td class="p-intro">
							<h1 style="font-size: 26px; font-weight: bold;">验证您的注册邮箱地址</h1>
							<p style="line-height:1.75em;">感谢您注册本账号 </p>
							<p style="line-height:1.75em;">以下是您的邮箱注册链接，请点击确认:</p>
						</td>
					</tr>
					<tr>
						<td class="p-code">
							<p style="color: #253858;text-align:center;line-height:1.75em;background-color: #f2f2f2;min-width: 200px;margin: 0 auto;font-size: 28px;border-radius: 5px;border: 1px solid #d9d9d9;font-weight: bold;">
                                <a href ={{ url }}>请点击此处验证</a>>
                            </p>
						</td>
					</tr>
					<tr>
						<td class="p-intro">
							<p style="line-height:1.75em;">这一封邮件包括一些您的私密的账号信息，请不要回复或转发它，以免带来不必要的信息泄露风险。 </p>
						</td>
					</tr>
					<tr>
						<td class="p-intro">
							<hr>
							<p style="text-align: center;line-height:1.75em;">来自 - 一个落魄的小测试</p>
						</td>
					</tr>
				</tbody>
			</table>
</div>

<script>
var _c=document.getElementById('content');
_c.innerHTML=(_c.innerHTML||'').replace(/(href|formAction|onclick|javascript)/ig, '__$1').replace(/<\/?marquee>/ig,'');
var _s = _c.getElementsByTagName('style');
for(var i=0;i<_s.length;i++){ var _st = _s[i].innerHTML.split('}'); for(var j=0;j<_st.length-1;j++){ _st[j] = '.netease_mail_readhtml '+_st[j]; } _s[i].innerHTML = _st.join('}'); }
</script>
<style type="text/css">
body{font-size:14px;font-family:arial,verdana,sans-serif;line-height:1.666;padding:0;margin:0;overflow:auto;white-space:normal;word-wrap:break-word;min-height:100px}
td, input, button, select, body{font-family:Helvetica, 'Microsoft Yahei', verdana}
pre {white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;width:95%}
th,td{font-family:arial,verdana,sans-serif;line-height:1.666}
img{ border:0}
header,footer,section,aside,article,nav,hgroup,figure,figcaption{display:block}
blockquote{margin-right:0px}
</style>
<style id="ntes_link_color" type="text/css">a,td a{color:#064977}</style>
</body>

